body {
   
    
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #ffffff;
}


.header-content {
    background-image: url('/Media/USECASE4.png');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    height: 400px; 
    padding: 60px 20px;
    color: white;
    position: relative;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


.header-content h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    color: #333;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    font-size: clamp(1.8em, 5vw, 3em);
}

.header-content nav {
    position: absolute;
    bottom: 10px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
    flex-wrap: nowrap;
}
.header-content nav a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.7);
    padding: 5px 15px;
    border-radius: 5px;
    transition: background 0.3s;
}
.header-content nav a:hover{
    background: rgb(148, 210, 247);
}



.top-bar {
    display: flex;
   
    background-color: #e2e9fc;
    padding: 10px 20px;
    
    flex-wrap: wrap;
    justify-content: space-between;
     align-items: center;
     justify-content: center;
}

.top-nav a {
    text-decoration: none;
    color: #000;
    margin: 0 10px;
    font-weight: bold;
}

.top-nav a:hover {
    color: #007bff;
}


.section-nav {
    margin-top: 20px;
}
.section-nav a {
    text-decoration: none;
    color: #000;
    margin: 0 15px;
    font-weight: bold;
    font-size: 18px;
}

h1 {
    font-size: 3em;
    color: #333;
    margin-top: 20px;
}

.nav-links {
    margin: 20px 0;
}

.nav-links a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-size: 1.2em;
}

.nav-links a:hover {
    color: #89deff;
}



#completed {
   display: grid;
    margin: 30px auto;
    width: 180%;
    text-align: center;
    height:150%;
    
   
}
.table-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

#completed h2 {
    background-color: #B7E9F7;
    padding: 10px;
    font-size: 30px;
    text-align: left;
    font-weight: bold;
    text-align: center;
}

.courses-table {
    width: 150%;
    border-collapse: collapse;
    margin-top: 10px;
    overflow-x: auto;
    align-self: center;
    
    
}

.courses-table th, 
.courses-table td {
    border: 2px solid black;
    padding: 10px;
    text-align: center;
}

.courses-table th {
    background-color: #B7E9F7;
    font-weight: bold;
    text-transform: uppercase;
}

.courses-table tr:nth-child(even) {
    background-color: #f9f9f9;
}


#in-progress {
    display: grid;
    margin: 30px auto;
    width: 180%;
    text-align: center;
    height:150%;
}

#in-progress h2 {
    background-color: #A9CFFE;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    font-weight: bold;

}



.courses-table th, 
.courses-table td {
    border: 2px solid black;
    padding: 10px;
    text-align: center;
}

.courses-table th {
    background-color: #B7E9F7;
    font-weight: bold;
    text-transform: uppercase;
}

.courses-table tr:nth-child(even) {
    background-color: #f9f9f9;
}


#pending {
    display: grid;
    margin: 30px auto;
    width: 180%;
    text-align: center;
 
}

#pending h2 {
    background-color: #4476BD;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

.courses-table {

   
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.courses-table th, 
.courses-table td {
  
    border: 2px solid black;
    padding: 10px;
    text-align: center;
}

.courses-table th {
    background-color: #d7e3fc;
    font-weight: bold;
    text-transform: uppercase;
}

.courses-table tr:nth-child(even) {
    background-color: #f9f9f9;
}


footer {
    background-color: #C1D4FF;
    padding: 20px 5%;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
}




.footer-container h3 {
    font-size: 24px;
    font-weight: bold;
}

.footer-container ul {
    list-style: none;
    padding: 0;
}

.footer-container ul li {
    font-size: 18px;
    margin: 10px 0;
}

.footer-container ul li i {
    margin-right: 10px;
}



* {
    box-sizing: border-box;
}


.main-container{
    width: 100%;
    max-width: 580px;
    
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    

    flex-direction: column;
}


header {
    width: 100%;
}


.top-bar {
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.top-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}



@media screen and (min-width: 600px) {
    .courses-table {
        width: 150%;
        border-collapse: collapse;
        margin-top: 10px;
        overflow-x: auto;
        align-self: center;
        
        
    }
    header {
        flex-wrap: nowrap;
    }
    h1{
        font-size: 50px;
    }
    
    .courses-table{
        grid-template-columns: repeat(3, 1fr);
    }
    
    .footer-container {
        flex-direction: row;
        justify-content: space-evenly;
    }
    footer h3{
        font-size: 2rem;
    }
    .table-container{
        grid-template-columns: repeat(3, 1fr);

    }

}

